


.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 800px;
    border: 1px solid red;
}
.main {
    width: 100%;
    min-height: 1px;
    text-align: right;
}
@media (min-width: 1000px) {
    .main {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        order: 2;
    }
}
@media (min-width: 1000px) {
    .main {
        flex: 0 0 75%;
        max-width: 75%;
    }
}


